<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Middleman" %></title>

    <link href='//fonts.googleapis.com/css?family=Lato:300,400' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag :site %>
    <%= javascript_include_tag :all %>


    <link rel="stylesheet" href="stylesheets/main.css">

    <script src="javascripts/modernizr.js"></script>    


    <link rel="stylesheet" href="stylesheets/font-awesome.min.css">
    <link href="stylesheets/Montserrat.css" rel="stylesheet" type="text/css">
    <link href="stylesheets/Lato.css" rel="stylesheet" type="text/css">

  </head>




  <body class="<%= page_classes %>">
    <%= yield %>

<footer>
  Copyright 2017
</footer>
  </body>
</html>
